<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Aseguradora">
    <insert id="insertarAseguradora" parameterType="servicios.pojos.Aseguradora">
        INSERT INTO Aseguradora (nombre, numeroContrato)
        VALUES (#{nombre},#{numeroContrato});
    </insert>
    
    <select id="obtenerAseguradora" parameterType="String" resultType="servicios.pojos.Aseguradora">
        SELECT * FROM Aseguradora
        WHERE idAseguradora = #{idAseguradora};
    </select>
    
    <delete id="eliminarAseguradora" parameterType="String">
        DELETE FROM Aseguradora where idAseguradora = #{idAseguradora}; 
    </delete>
    
    <update id="actualizarAseguradora" parameterType="servicios.pojos.Aseguradora">
        UPDATE Aseguradora SET nombre = #{nombre}, numeroContrato = #{numeroContrato}
        WHERE idAseguradora = #{idAseguradora};
    </update>
</mapper>