<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Conductor">
    <insert id="insertarConductor" parameterType="servicios.pojos.Conductor">
        INSERT INTO Conductor (numLicencia, nombre, fechaNacimiento, celular, clave, verficado)
        VALUES (#{numLicencia},#{nombre}, #{fechaNacimiento}, #{celular}, #{clave},#{verificado});
    </insert>
    
    <select id="autenticarConductor" resultType="servicios.pojos.Conductor" parameterType="servicios.pojos.Conductor">
        SELECT * FROM Conductor 
        WHERE celular = #{celular} AND clave = #{clave}; 
    </select>
    
    <delete id="eliminarConductor" parameterType="String">
        DELETE FROM Conductor where numLicencia = #{numLicencia}; 
    </delete>
    
    <update id="actualizarConductor" parameterType="servicios.pojos.Conductor">
        UPDATE Conductor SET nombre = #{nombre},
        fechaNacimiento = {fechaNacimiento}, celular = #{celular}, clave = #{clave}, verificado = #{verificado}
        WHERE numLicencia = #{numLicencia};
    </update>
</mapper>